.hero{
    position: relative;
    height: 100vh;
    width: 100%;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    background-blend-mode: multiply,multiply;
    
}

.HeroContent{
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 10;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;

    h1{
        font-family: 'Inconsolata', monospace;
        text-align: center;
        margin: -60px auto 0;
        font-size: 2.3rem;
        color: #324D5C;

        @media(min-width: 768px){
            font-size: 3rem;
        }
    }

    span{

        background:#F0CA4D;
    }
}
