.projects{
    height: 100vh;
    background: #324D5C;
    position: relative;
    

    &:before{
        content: "";
        background: inherit;
        display: block;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        transform-origin: top left;
        transform: skewY(-3deg);
        z-index: 10;

    }

    &:after{
        content: "";
        background: inherit;
        display: block;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        transform-origin: top left;
        transform: skewY(3deg);
        z-index: 10;

    }
}