// import all stylesheets 

@import url('https://fonts.googleapis.com/css?family=Inconsolata|Roboto+Mono');


// font-family: 'Roboto Mono', monospace;
// font-family: 'Inconsolata', monospace;

body{
    margin: 0;
}

.portfolio-container{
    // position: relative;
}


.modal-backdrop.show{
    opacity: .85;
}

h1,h2,h3,h4,h5,h6,p,span,a,li,*{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}