body{
    margin: 0;
}

// contact btn ( the button that triggers the contact form to load )
.portfolio{

}


.portfolio-container{
    position: relative;
}

.nav-contact--trigger{
    position: absolute;
    right: 35px;
    color: gray;
    font-size: 16px;
    margin: 0;
    z-index: 10;
    top: 30px;
    cursor: pointer;
    transform: rotate(270deg) translate(-30px, 30px);
    overflow: hidden;
    transition : all cubic-bezier(0.165, 0.84, 0.44, 1) 1.2s;


    @media(min-width: 768px){
        right: 48.5px;
    }




    .open{
        transition: all .5s linear;
        visibility: visible;
        opacity: 1;
        display: inline-block;

        &:after{
            content: "Contact";
            color: #fff;
            position: absolute;
            transform: translateX(-100%);
            top: 0px;
            transition: all .3s linear;
            
        } 

        &:hover {
            color: transparent;
            &:after{
                transform: translateX(0%);
                
            } 
        }
    }
    
    .open.init{
        visibility: hidden;
        opacity: 0;
        display: none;
    }
    

    .close{
        visibility: hidden;
        opacity: 0;
        display: none;
        transition: all .5s linear;

        &:after{
            content: "Close";
            color: #fff;
            position: absolute;
            transform: translateX(-100%);
            top: 0px;
            transition: all .3s linear;
            
        } 

        &:hover {
            color: transparent;
            &:after{
                transform: translateX(0%);
                
            } 
        }
    }

    .close.init{
        display: inline-block;
        visibility: visible;
        opacity: 1;
    }

}

.nav-contact--trigger.init{
    transform: rotate(360deg) translate(0px, 0px);
}
