<head>
    <title> <%= title; %> </title>
    <meta charset="UTF-8">
    <meta name="description" content="Ziaul Sarker Front End Developer">
    <meta name="keywords" content="front-end-developer html javascript css node react scss python wordpress php">
    <meta name="copyright" content="Ziaul Sarker Front End Developer">

    <!-- link font awesome CDN -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    <!-- favicon -->
    <link rel='shortcut icon' type='image/x-icon' href="../public/img/me.jpeg">

</head>

<body>
    <div id="portfolio"> </div>
    <script src="./public/scripts/bundle.js"> </script>
</body>