<head>
    <title> <%= title; %> </title>
    <meta charset="UTF-8">
    <meta name="description" content="Ziaul Sarker Portfolio">
</head>

<body>
    <div id="portfolio"> </div>
    <script src="./public/scripts/bundle.js"> </script>
</body>